    <!-- Contact Section -->
    <section id="contact" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Contact</h2>
            <p>If you liked what you saw, want to have a chat with me about the portfolio, work opportunities, or collaboration, feel free to contact me on any of my social medias.</p>
            <ul class="list-inline banner-social-buttons">
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/melvfernandez/" class="btn btn-default btn-lg">
                  <i class="fa fa-linkedin fa-fw"></i>
                  <span class="network-name">LinkedIn</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://twitter.com/melvfnz" class="btn btn-default btn-lg">
                  <i class="fa fa-twitter fa-fw"></i>
                  <span class="network-name">Twitter</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/melvfnz" class="btn btn-default btn-lg">
                  <i class="fa fa-github fa-fw"></i>
                  <span class="network-name">Github</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>


    <!-- Footer -->
    <footer>
      <div class="container text-center">
        <p>Copyright &copy; melv. 2018</p>
        <p><a href="support">
    		<span class="network-name">Support</span></a></p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>


    <!-- Custom scripts for this template -->
    <script src="js/grayscale.min.js"></script>
  
    <!-- Gobot Chat -->
    <script type="text/javascript">
(function(){
window['gobot'] = window['gobot'] || function(){(window['gobot'].queue = window['gobot'].queue || []).push(arguments)}
var script = document.createElement('script')
script.async = 1
script.src = 'https://www.getgobot.com/app/v1/gobot-client.js'
var insert = document.getElementsByTagName('script')[0]
insert.parentNode.insertBefore(script, insert)
})()
gobot('create', '-LD-p2PFbcZERzMd3YIO')
gobot('pageview')
</script>